.stripes-intro {
  display: flex;
  justify-content: center;
}

.stripes-container {
  display: flex;
  flex-wrap: wrap;
}

.stripe-container:hover {
  cursor: pointer;
}

.stripes-container::after {
  content: "";
  flex-grow: 999999999;
}

.stripe-container {
  margin: 2px;
  background-color: transparent;
  position: relative;
  border: none;
  padding: 0;
}

.stripe-image-background {
  display: block;
  background-color: var(--bg-dark) !important;
}

.stripe-image {
  position: absolute;
  top: 0;
  width: 100%;
  vertical-align: bottom;
}

.image-description {
  position: fixed;
  z-index: -99;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.35s;
  max-height: 15%;
  overflow-y: scroll;
  scrollbar-color: grey var(--bg-dark);
  text-align: left;
}

@media(max-width: 700px) {
  .image-description {
    max-height: 25%;
  }
}

.image-description.show {
  opacity: 1;
  z-index: 1;
}

.stripe-search-container {
  display: flex;
  flex-direction: column;
}

.stripe-search-input {
  border: 1px solid #212529;
  width: 25%;
}

@media(max-width: 700px) {
  .stripe-search-input {
    width: 50%
  }
}

.bg-dark {
  background-color: var(--bg-dark);
}

.text-light {
  color: var(--color-accent);
}