/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 3rem;
  --fontFamily-sans: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: Montserrat, "Georgia", Cambria, "Times New Roman", Times,
    serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-primary: #3c64be;
  --color-secondary: #FF6040;
  --color-secondary-light: #F08d76;
  --color-grey: #A69B95;
  --color-text: #22272e;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
  --bg-dark: #212529;
  --background-color: #e7e9f4;
}

.max-width-wrapper {
  max-width: var(--maxWidth-wrapper);
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html, body
{
    height: 100%;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body) !important;
  font-size: var(--fontSize-1) !important;
  color: var(--color-text) !important;
  line-height: 1.5;
}

footer {
  padding-top: var(--spacing-2);
  max-width: var(--maxWidth-wrapper);
  width: 100%;
  margin: auto;
}

hr {
  height: 1px;
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: .25;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-medium);
  color: var(--color-heading);
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-weight: var(--fontWeight-bold) !important;
  font-size: calc(1.375rem + 1.5vw);
  color: var(--color-heading-black);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {

  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Button */
.newsletter-button {
  background-color: var(--color-secondary);
  color: black;
  border: none;
  padding: var(--spacing-2) var(--spacing-3);
  font-weight: var(--fontWeight-bold);
  -webkit-transition: background-color 200ms linear, transform 200ms linear, box-shadow 200ms linear;
  -ms-transition: background-color 200ms linear, transform 200ms linear, box-shadow 200ms linear;
  transition: background-color 200ms linear, transform 200ms linear, box-shadow 200ms linear;
}

.newsletter-button:hover {
  background-color: var(--color-secondary-light);
  transform: translateY(-2px);
  box-shadow: 0px 4px 15px rgba(50,1,1,0.15);
}

.newsletter-input {
  border: 1px solid var(--color-secondary);
  padding: var(--spacing-2);
  color: var(--color-text);
}

.newsletter-label {
  position: absolute;
  visibility: hidden;
}

.newsletter-page {
  display: flex;
  margin: auto;
  height: 100%;
}

.paging-button-container {
  display: flex;
  justify-content: center;
}

.paging-button {
  padding: 1rem 1.5rem;
  background-color: white;
  color: var(--color-primary);
  transition: background-color 0.15s,transform 0.15s;
  border: 1px solid var(--color-primary);
}

.paging-button.active,
.paging-button:hover {
  cursor: pointer;
  background-color: var(--color-primary);
  color: white;
}

/* Custom classes */

/* Layout */

.global-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0 var(--spacing-5) var(--spacing-5) var(--spacing-5);
  background-color: var(--background-color);
  overflow: hidden;
}

.global-wrapper.disable-scroll {
  overflow: hidden;
}

@media (max-width: 700px) {
  .global-wrapper {
    padding: 0 var(--spacing-2) var(--spacing-2) var(--spacing-2);
  }
}

.nav-link.active, .nav-link:hover {
  text-decoration: underline;
  transition: text-decoration 200s linear;
}

.site-content {
  flex-direction: column;
  display: flex;
  flex: 1;
  max-width: 100%;
}

.medium-layout {
  margin: auto;
  max-width: var(--maxWidth-2xl);
}

hr {
  margin: auto;
  max-width: var(--maxWidth-2xl);
}

.large-layout {
  margin: auto;
  max-width: var(--maxWidth-4xl) !important;
}

.youtube-layout {
  width: 100%;
  padding-bottom: 55.8036%;
}

.youtube-iframe {
  max-width: var(--maxWidth-full) !important;
  margin: auto auto 1rem auto;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.youtube-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Blog */

.post-list-item {
  margin-bottom: var(--spacing-6);
  margin-top: var(--spacing-8);
}

.post-list-item p {
  margin-bottom: var(--spacing-2);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-2);
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--font-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio p {
  margin-bottom: var(--spacing-0);
}

.bio-avatar {
  margin-right: var(--spacing-6);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
}

.headline {
  padding-top: var(--spacing-2);
}

.blog-post header h1 {
  margin: var(--spacing-0) auto var(--spacing-1) auto;
}

.blog-post header p {
  font-size: var(--fontSize-1);
  font-family: var(--font-heading);
  margin-bottom: var(--spacing-3);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
  list-style: none;
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

.badge {
  color: rgb(228, 226, 222);
  display: inline-flex;
  padding: .25em .25em;
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  background-color: #6c757d;
  margin-left: .2rem !important;
}

.title-container {
  margin-right: .2rem;
}
/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}

@media (max-width: 576px) {
  .newsletter-form {
    display: flex;
    flex-direction: column;
  }
  .newsletter-form .newsletter-button {
    margin: 1rem 0 0 0 !important;
  }
 }
